@import "tailwindcss";

:root {
  --bg-left: #fdf6ee;
  --bg-right: #f8fafa;
}

body {
  background: linear-gradient(
    90deg,
    var(--bg-left) 0%,
    var(--bg-left) 50%,
    var(--bg-right) 50%,
    var(--bg-right) 100%
  );
  min-height: 100vh;
}
@theme {
  --color-bg-left: #fdf6ee;
  --color-bg-right: #f8fafa;
  --color-primary-color: #1a5336;
  --color-primary-accent: #f26d21;
  --color-text-dark: #2c3e50;
  --color-text-muted: #7f8c8d;
  --color-card-bg: #ffffff;

  --font-sans: "Tajawal", "Poppins", sans-serif;

  --radius-card: 20px;
  --radius-btn: 30px;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
} 

